spring.datasource.url=jdbc:mysql://localhost:3306/packagetracking?createDatabaseIfNotExist=true
spring.datasource.username=#dbusername
spring.datasource.password=#dbpassword


spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.hibernate.ddl-auto=update
server.port=8080

# === MAIL (Gmail SSL pe port 465) ===
spring.mail.host=smtp.gmail.com
spring.mail.port=465



# Exemplu de configurare, fără date sensibile
smtp.user=YOUR_SMTP_USERNAME
smtp.pass=YOUR_SMTP_PASSWORD


pring.mail.properties.mail.smtp.ssl.enable=true
spring.mail.properties.mail.smtp.starttls.enable=false
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.ssl.trust=smtp.gmail.com

# Timeout-uri extinse pentru debugging
spring.mail.properties.mail.smtp.connectiontimeout=20000
spring.mail.properties.mail.smtp.timeout=20000
spring.mail.properties.mail.smtp.writetimeout=20000

# Debug JavaMail
logging.level.org.springframework.mail=DEBUG
logging.level.com.sun.mail=DEBUG
logging.level.javax.mail=DEBUG

spring.application.name=scdproiect